@model Employee
@{
    ViewData["Title"] = "Employees - Delete";
}
<div class="container-fluid">
    <h1>Confirm Delete?</h1>
    <h4>@Model.Name - ID: @Model.EmployeeID</h4>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="EmployeeID"/>
        <button type="submit" class="btn btn-outline-primary btn-lg">Delete</button>
        <a asp-action="Employees" class="btn btn-outline-primary btn-lg">Cancel</a>
    </form>
</div>