
@{
    ViewData["Title"] = "Employees";
}

<div class="row row-cols-4">
    @foreach (Employee emp in ViewBag.Employees)
    {
        <a asp-action="View" asp-controller="Employees" asp-route-employeeId="@emp.EmployeeID">
            <div class="card h-100 col">
                <div class="card-body">
                    <h5 class="card-title">@emp.Name</h5>
                    <p class="card-text">@emp.Email</p>
                </div>
            </div>
        </a>
    }

</div>
<div class="container-fluid">
    <a class="btn btn-primary" asp-action="Add" asp-controller="Employees">Add New</a>
</div>