@model List<Employee>

@{
    ViewData["Title"] = "Employees";
}

<div class="row row-cols-sm-2">
    @foreach (var emp in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-2">
            <a asp-action="View" asp-controller="Employees" asp-route-employeeId="@emp.EmployeeID" class="card mt-0 mb-5 mx-2">
                <div class="card-body">
                    <h5 class="card-title">@emp.Name</h5>
                    <p class="card-text">@emp.Email</p>
                </div>
            </a>
        </div>
        
    }

</div>
<div class="container-fluid" style="margin-top: 20px;">
    <a class="btn btn-outline-primary btn-lg" asp-action="Add" asp-controller="Employees">Add New</a>
</div>