@model Item
@{
    ViewData["Title"] = "Items - Delete";
}
<div class="container-fluid">
    <h1>Confirm Delete?</h1>
    <h4>@Model.Name - @Model.ItemCode</h4>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ItemID"/>
        <button type="submit" class="btn btn-outline-primary">Delete</button>
        <a asp-action="Items" class="btn btn-outline-primary">Cancel</a>
    </form>
</div>