@model List<Item>

@{
    ViewData["Title"] = "Items";
}

<div class="row row-cols-1 row-cols-lg-6 row-cols-sm-2 row-cols-md-4">
    @foreach (var item in Model)
    {
        <a asp-action="View" asp-controller="Items" asp-route-itemId="@item.ItemID">
            <div class="card h-100 col">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.ReleaseDate - @item.YearlyPrice</p>
                </div>
            </div>
        </a>
    }

</div>
<div class="container-fluid" style="margin-top: 20px;">
    <a class="btn btn-outline-primary" asp-action="Add" asp-controller="Items">Add New</a>
</div>