@model List<Item>

@{
    ViewData["Title"] = "Items";
}
<div class="row row-cols-sm-2">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-2">
            <a asp-action="View" asp-controller="Items" asp-route-itemId="@item.ItemID" class="card mt-0 mb-2 mx-2">
                <div class="card-body" >
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.ReleaseDate.ToShortDateString() - @item.YearlyPrice</p>
                </div>
            </a>
        </div>
    }
</div>


<div class="container-fluid" style="margin-top: 20px;">
    <a class="btn btn-outline-primary btn-lg btn-lg" asp-action="Add" asp-controller="Items">Add New</a>
</div>