@model List<Client>

@{
    ViewData["Title"] = "Clients";
}

<div class="row row-cols-sm-2">
    @foreach (var client in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-2">
            
            <a asp-action="View" asp-controller="Clients" asp-route-clientId="@client.ClientID" class="card mt-0 mb-2 mx-2">
                <div class="card-body">
                    <h5 class="card-title">@client.FullName</h5>
                    <p class="card-text">@client.Email</p>
                </div>
            </a>
        </div>

    }


</div>
<div class="container-fluid" style="margin-top: 20px;">
    <a class="btn btn-outline-primary btn-lg" asp-action="Add" asp-controller="Clients">Add New</a>
</div>