@model List<Client>

@{
    ViewData["Title"] = "Clients";
}

<div class="row row-cols-1 row-cols-lg-6 row-cols-sm-2 row-cols-md-4">
    @foreach (var client in Model)
    {
        <a asp-action="View" asp-controller="Clients" asp-route-clientId="@client.ClientID">
            <div class="card h-100 col">
                <div class="card-body">
                    <h5 class="card-title">@client.FullName</h5>
                    <p class="card-text">@client.Email</p>
                </div>
            </div>
        </a>
    }


</div>
<div class="container-fluid" style="margin-top: 20px;">
    <a class="btn btn-outline-primary" asp-action="Add" asp-controller="Clients">Add New</a>
</div>